body{
    border-left: 3px solid lightgray;
    min-height: 100vh;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: lighter;
}
h1{
    font-weight: lighter;
    font-size: 70px;
    color: tomato;
    margin-bottom: 5px;
}
.subtitle{
    font-size: 20px;
    margin-top: 0px;
}
h2{
    font-weight: lighter;
    font-size: 50px;
    margin-top: 5px;
}
.date{
    color:gray;
    font-size: 20px;

}
header{
    padding: 1rem 2rem;
}
main{
    padding: 1rem 2rem;
}
footer{
    padding: 1rem 2rem;
}
img{
    width: 100%
}
ul{
    list-style-type: none;
    
}
.content::first-letter {
    font-size:100px;
    color: lightgray;
    padding: 6px 3px;
  margin-right: 6px;
  float: left;
    
  }
article{
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2rem;
    font-size: 20px;
}
.continued{
    color:lightgray;
    display: block;
    text-align: right;
    font-weight: bold;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
}
footer{
color: lightgray;
}
.footer-navigation{
    color: tomato;
    display: flex;
    justify-content: space-between;
}